<!-- <html> -->
<!-- <body> -->

<!-- <h1>Upcoming Events</h1> -->
<!-- <ul> -->
  <!-- {% for event in upcoming_events %} -->
    <!-- <li><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a></li> -->
  <!-- {% endfor %} -->
<!-- </ul> -->

<!-- <h1>Past Events</h1> -->
<!-- <ul> -->
  <!-- {% for event in past_events %} -->
    <!-- <li><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a></li> -->
  <!-- {% endfor %} -->
<!-- </ul> -->
<!-- </body> -->
<!-- </html> -->

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Event List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/event_list.css' %}">
</head>
<body>
    <div class="event-list-container">
        
        
        <!-- <div class="event-filters"> -->
            <!-- <h2>Filter Events</h2> -->
            <!-- <form method="get"> -->
              <!-- {{myFilter.form}} -->
              <!-- <br> -->
          <!-- <button type="submit">Search</button> -->
          <!-- </form> -->
        <!-- </div> -->
        
        <ul class="event-list">
          <h1>Upcoming Events</h1>
            {% for event in upcoming_events %}
            <li class="event-item">
                <h2>{{ event.title }}</h2>
                <p class="event-date">Date: {{ event.start_date }} - {{ event.end_date }}</p>
                <p class="event-category">Category: {{ event.category }}</p>
                <p>{{ event.description }}</p>
                <a href="{% url 'event_detail' event.id %}">View Details</a>
            </li>
            {% endfor %}
        </ul>

        <ul class="event-list">
          <h1>Past Events</h1>
            {% for event in past_events %}
            <li class="event-item">
                <h2>{{ event.title }}</h2>
                <p class="event-date">Date: {{ event.start_date }} - {{ event.end_date }}</p>
                <p class="event-category">Category: {{ event.category }}</p>
                <p>{{ event.description }}</p>
                <a href="{% url 'event_detail' event.id %}">View Details</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

