

<!DOCTYPE html>
<html>
<head>
    <title>Event Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/event_registration.css' %}">
</head>
<body>
    <h1>Event Registration - {{ event.title }}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="full_name">Full Name:</label>
        <input type="text" name="full_name" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>
        <label for="is_paid">Paid Registration:</label>
        <input type="checkbox" name="is_paid">
        <br>
        <div id="payment_section">
          <button id="pay_button" type="button"><a href="{% url 'payment' %}">Pay Now</a></button>
        </div>
        <input type="submit" value="Register">
    </form>
</body>
</html>
